/* Импортируем шрифт Dancing Script с Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Задаём пастельно-розовый фон и используем женственный шрифт */
body {
  background-color: #ffe6f2; /* пастельно-розовый фон */
  color: #333;
  position: relative;
  max-width: 540px;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
  box-sizing: border-box;
  padding: 36px;
}

/* Шапка с легким голубым оттенком */
.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: #add8e6; /* светло-голубой фон */
  padding: 10px 20px;
  border-radius: 10px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  color: #ff69b4; /* насыщенный розовый */
}

/* Кнопка со светло-розовым фоном и розовой окантовкой */
.button {
  width: 130px;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ff69b4;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: #ffb6c1; /* светло-розовый фон */
  border-radius: 5px;
}

.button:hover {
  opacity: 0.8;
}

/* Изображение с розовой рамкой */
.image {
  width: 80%;
  display: block;
  margin: 60px auto 50px;
  border: 5px solid #ff69b4;
  border-radius: 10px;
}

/* Стиль для блока с советом */
.advice {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 70px;
  color: #333;
}

/* Нижний колонтитул с розовыми элементами */
.footer {
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 36px;
  width: 100%;
  text-align: center;
  color: #ff69b4;
}

